---
title: test
body_class: index
---

.wrap
	.top.col-1.item
		%a{:href => "#"}
			%span
		.discount
			72%
			%br/
			off
		%img{:src => "http://placehold.it/234x251", :alt => ""}/
		.desc
			%header
				.alignleft
					.price
						$49.99
					.old-price
						$89.99
				.alignright
					.store
						Amazon
			%section
				Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
			%footer
				.shipping
					Free Shipping
				.status
					New
				.time
					00:02:29

	.col-2.orange
		.item
			%a{:href => "#"}
				%span
			.discount
				72%
				%br/
				off
			%img{:src => "http://placehold.it/155x133", :alt => ""}/
			.desc
				%header
					.alignleft
						.price
							$49.99
						.old-price
							$89.99
					.alignright
						.store
							Amazon
				%section
					Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
				%footer
					.shipping
						Free Shipping
					.status
						New
					.time
						00:02:25
		.item
			%a{:href => "#"}
				%span
			.discount
				72%
				%br/
				off
			%img{:src => "http://placehold.it/155x133", :alt => ""}/
			.desc
				%header
					.alignleft
						.price
							$49.99
						.old-price
							$89.99
					.alignright
						.store
							Amazon
				%section
					Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
				%footer
					.shipping
						Free Shipping
					.status
						New
					.time
						00:02:29							
	
	.col-2.yellow
		.item
			%a{:href => "#"}
				%span
			.discount
				72%
				%br/
				off
			%img{:src => "http://placehold.it/155x133", :alt => ""}/
			.desc
				%header
					.alignleft
						.price
							$49.99
						.old-price
							$89.99
					.alignright
						.store
							Amazon
				%section
					Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
				%footer
					.shipping
						Free Shipping
					.status
						New
					.time
						00:02:25
		.item
			%a{:href => "#"}
				%span
			.discount
				72%
				%br/
				off
			%img{:src => "http://placehold.it/155x133", :alt => ""}/
			.desc
				%header
					.alignleft
						.price
							$49.99
						.old-price
							$89.99
					.alignright
						.store
							Amazon
				%section
					Stand mixermwith extra power handle ppreciation Gift Basket My Chu...
				%footer
					.shipping
						Free Shipping
					.status
						New
					.time
						00:02:29		